<header role="banner">
  <nav class="navbar navbar-default navbar-fixed-top" aria-label="Main Navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false" aria-controls="navbar-collapse-1" aria-label="Toggle navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ site.url }}{{ site.baseurl }}/">Josephs Lab</a>
      </div>
      <div class="collapse navbar-collapse" id="navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li{% if page.url == "/" or page.url == "/index.html" %} class="active"{% endif %}><a href="{{ site.url }}{{ site.baseurl }}/"{% if page.url == "/" or page.url == "/index.html" %} aria-current="page"{% endif %}>Home</a></li>
          <li{% if page.url == "/research" or page.url == "/research/" %} class="active"{% endif %}><a href="{{ site.url }}{{ site.baseurl }}/research"{% if page.url == "/research" or page.url == "/research/" %} aria-current="page"{% endif %}>Research</a></li>
          <li{% if page.url == "/people" or page.url == "/people/" %} class="active"{% endif %}><a href="{{ site.url }}{{ site.baseurl }}/people"{% if page.url == "/people" or page.url == "/people/" %} aria-current="page"{% endif %}>People</a></li>
          <li{% if page.url == "/publications" or page.url == "/publications/" %} class="active"{% endif %}><a href="{{ site.url }}{{ site.baseurl }}/publications"{% if page.url == "/publications" or page.url == "/publications/" %} aria-current="page"{% endif %}>Publications</a></li>
          <li{% if page.url == "/resources" or page.url == "/resources/" %} class="active"{% endif %}><a href="{{ site.url }}{{ site.baseurl }}/resources"{% if page.url == "/resources" or page.url == "/resources/" %} aria-current="page"{% endif %}>Resources</a></li>
          <li{% if page.url == "/wiki" or page.url == "/wiki/" %} class="active"{% endif %}><a href="{{ site.url }}{{ site.baseurl }}/wiki"{% if page.url == "/wiki" or page.url == "/wiki/" %} aria-current="page"{% endif %}>Wiki</a></li>
          <li{% if page.url == "/join" or page.url == "/join/" %} class="active"{% endif %}><a href="{{ site.url }}{{ site.baseurl }}/join"{% if page.url == "/join" or page.url == "/join/" %} aria-current="page"{% endif %}>Opportunities</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>

